<h1>Sistema de Leilões</h1>

<h2>Index dos Lotes</h2>

<div>
  <% if @lots.empty? %>
    <p>Não existem lotes cadastrados.</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Data de Início</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @lots.each do |lot| %>
        <tr>
          <td><%= link_to lot.code, lot %></td>
          <td><%= lot.start_date %></td>
          <td><%= lot.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

