.item-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.item-show-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: right top;
}

.card-body {
  background-color: #eeeeee;
}